<tr>
  <td class = "sort"><%= link_to 'Most Recent', :sort => "created_at" %></td>
  <td class = "sort"><%= link_to 'Most Likes', :sort => "likes" %></td>
  <td class = "sort"><%= link_to 'Most Dislikes', :sort => "dislikes" %></td>
</tr>

